<div class="row">
	<div class="col-md-2 col-md-offset-2">
	<ul class="footer-list">
		<li>News</li>
		<li>Why PM</li>
		<li>Features</li>
		<li>In Practice</li>
	</ul>
	</div>
	<div class="col-md-1">
	<ul class="footer-list">
		<li>Technology</li>
		<li>Get Started</li>
		<li>Get Involved</li>
		<li>About</li>
	</ul>
	</div>
	<div class="col-md-2">
		<div class="newsletter-subscription">			
			Newsletter<br/>
			<br/>
			<input type="text" id="newsletter-field" placeholder="Email"/><br/>
			<br/>
			<button id="newsletter-button">Subscribe</button> 
		</div>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<img class="image-responsive" src="/images/site/footer-image.png" />
	</div>	
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<hr class="gray-line" />
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-2">		
		<img class="image-responsive" src="/images/site/in_icon.png" />
		<img class="image-responsive" src="/images/site/f_icon.png" />
		<img class="image-responsive" src="/images/site/t_icon.png" />
	</div>
	<div class="col-md-2 copyright">
		Copyright &copy; 2014 PowerMatcher
	</div>
</div>