<div class="footer-wrapper">
	<div class="row">
		<div class="col-md-1 col-md-offset-2">
		<ul class="footer-list">
			<li><a href="/news/">News</a></li>
			<li><a href="/why/">Why PM Suite?</a></li>
			<li><a href="/in-practice/">In Practice</a></li>
			<li><a href="/technology/">Technology</a></li>
		</ul>
		</div>
		<div class="col-md-1">
		<ul class="footer-list">			
			<li><a href="/get-started/">Get Started</a></li>
			<li><a href="/get-involved/">Get Involved</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
		</div>
		<div class="col-md-2  col-md-offset-1">
			<div class="newsletter-subscription">	
				<form action="http://flexiblepower.us5.list-manage.com/subscribe?u=90f2bbdb332a3a1a5f57e635e&id=c874a3abf5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>		
					FAN Newsletter<br/>
					<br/>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required type="text" placeholder="Email"/><br/>
					<br/>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"  id="newsletter-button"/> 
				</form>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<img class="img-responsive footer-image" src="/images/site/footer-image.png" />
		</div>	
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr class="gray-line" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-2">	
			<div class="social-media-links">	
				<!--<img class="image-responsive" src="/images/site/in_icon.png" />
				<img class="image-responsive" src="/images/site/f_icon.png" /> -->
				<a href="https://twitter.com/PowerMatcher"> <img class="image-responsive" src="/images/site/t_icon.png" /></a>
			</div>
		</div>
		<div class="col-md-7 copyright">
			<a href="http://www.flexiblepower.org/">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</a> 
PowerMatcher and FPAI are <a href="https://github.com/flexiblepower/powermatcher/blob/master/LICENSE"> Apache 2.0 </a> licensed projects.<br/>
<a href="{{ site.url }}/about/">PowerMatcher is a registered trademark of TNO and can only be used under specific conditions.</a>
		</div>
	</div>
</div>
