<div class="footer-wrapper">
	<div class="row">
		<div class="col-md-1 col-md-offset-2">
		<ul class="footer-list">
			<li>News</li>
			<li>Why PM</li>
			<li>Features</li>
			<li>In Practice</li>
		</ul>
		</div>
		<div class="col-md-1">
		<ul class="footer-list">
			<li>Technology</li>
			<li>Get Started</li>
			<li>Get Involved</li>
			<li>About</li>
		</ul>
		</div>
		<div class="col-md-2  col-md-offset-1">
			<div class="newsletter-subscription">	
				<form action="//github.us9.list-manage.com/subscribe/post?u=dbf9e1ab7cb80ecb7b4ab8688&amp;id=7ba062126a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>		
					Newsletter<br/>
					<br/>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required type="text" placeholder="Email"/><br/>
					<br/>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"  id="newsletter-button"/> 
				</form>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<img class="image-responsive" src="/images/site/footer-image.png" />
		</div>	
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr class="gray-line" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2">	
			<div class="social-media-links">	
				<img class="image-responsive" src="/images/site/in_icon.png" />
				<img class="image-responsive" src="/images/site/f_icon.png" />
				<img class="image-responsive" src="/images/site/t_icon.png" />
			</div>
		</div>
		<div class="col-md-2 copyright">
			Copyright &copy; 2014 PowerMatcher
		</div>
	</div>
</div>