<div class="row">
	<div class="col-md-12">
		<div class="float-center-wrapper">
			<div id="header-carousel">
				<div id="homebanner_mainbox">
					<div class="banner slider1">
						<div class="banner_inner">
					  		<div class="banner_text"><span class="thintext">Help us</span>
								<span class="greenbox"> change the world</span>
								<span class="thintext"> with this proven</span>
								<span class="bigtext"> disruptive sustainable<br>technology.</span>
							</div>
							<div class="slider1_btn"><a href="/why/">Learn More ></a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="banner slider2">
					    	<div class="banner_inner">
								<div class="banner_text"><span class="thintext">The Suite</span>
								<span class="greenbox"> is Open Source</span>
								<span class="thintext"> under</span>
								<span class="bigtext"> Apache 2.0</span>
							</div>
							<div class="slider1_btn"><a href="/get-involved/contribute/">Learn More ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
