<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<a href="/">
			<img class="img-responsive pm-logo-header" src="/images/site/pms_logo.png"/>
		</a>
	</div>
	<div class="col-md-3">	
		<div style="margin: 45px 0; float: right">
			<a class="github-button" href="https://github.com/flexiblepower/flexiblepower.github.io" data-icon="octicon-eye" data-style="mega" data-count-href="/flexiblepower/flexiblepower.github.io/watchers" data-count-api="/repos/flexiblepower/flexiblepower.github.io#subscribers_count">Watch</a>			
			<a class="github-button" href="https://github.com/flexiblepower/flexiblepower.github.io" data-icon="octicon-star" data-style="mega" data-count-href="/flexiblepower/flexiblepower.github.io/stargazers" data-count-api="/repos/flexiblepower/flexiblepower.github.io#stargazers_count">Star</a>			
			<a class="github-button" href="https://github.com/flexiblepower/flexiblepower.github.io/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/flexiblepower/flexiblepower.github.io/network" data-count-api="/repos/flexiblepower/flexiblepower.github.io#forks_count">Fork</a>
		</div>
	</div>
	<div class="col-md-2">
		<div id="search" class="inner-addon right-addon">	
			<form action="/search" method="get">		
				<input id="search-query" name="q" class="form-control" type="search" placeholder="SEARCH HERE" autocomplete="off">
				<span class="glyphicon glyphicon-search searchform-top-image"></span>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav nav-justified">
		      	{% for item in site.data.nav %}
		      	    
		      	    {% if item.subcategories != null %}
			      	    <li class="dropdown">
			      	    	<a href="{{item.href}}">{{item.title}}</a>			      	    
			      	    	<ul class="dropdown-menu" role="menu">
			      	    		{% for subitem in item.subcategories %}
			      	    			<li>
						            	<a class="subitem" href="{{subitem.subhref}}">{{subitem.subtitle}}</a>
						            </li>
			      	    		{% endfor %}
		      	    		</ul>
	      	    		</li>
      	    		{% else %}
      	    			<li class="">
			      	    	<a href="{{item.href}}">{{item.title}}</a>	      	    
	      	    		</li>
		      	    {% endif %}
	      	    {% endfor %}		        
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</div>