@font-face {
    font-family: alliander-font;
    src: url('/assets/fonts/OPENSANS-REGULAR.woff');
}

@font-face {
    font-family: alliander-font-extrabold;
    src: url('/assets/fonts/OPENSANS-EXTRABOLD.woff');
}

@font-face {
    font-family: alliander-font-bold;
    src: url('/assets/fonts/OPENSANS-BOLD.woff');
}

@font-face {
    font-family: alliander-font-light;
    src: url('/assets/fonts/OPENSANS-LIGHT.woff');
}

a {
	color: #333;
}

a:hover {
	color: #333;
}

body {
	overflow-x: hidden!important;
}

h1 {
	font-size: 30px;
}

.no-margin-left-right {
	margin-left:0;
	margin-right:0;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 9px;
  pointer-events: none;
  color: white;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#search-query {
	margin: 40px 0;
	background-color: #43515A;
	color: white;
	font-style: italic;
	font-size: 14px;
	padding:10px;
	border-radius:10px;	
	margin-right:0;
	font-family: alliander-font-light;
}

/* placeholder color */
#search-query::-webkit-input-placeholder { /* WebKit browsers */
   	color: white;
}
#search-query:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
	opacity:  1;
}
#search-query::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
	opacity:  1;
}
#search-query:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

.searchform-top-image {
	border-radius: 10px;
	background-color: #829F41;
	margin-left:0;
	padding:10px;
}

/*menu */
.container-fluid {
	padding: 0;
}

.navbar {
	border:0;
	border-top: 1px solid #dedede;
}

.navbar-collapse {
	padding: 0;
}

.navbar-default {
	padding-top: 5px;
	background-color: white;
	margin-bottom:-3px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0;
	background-color: white;
}

.navbar li{
	font-family: alliander-font-bold;
	text-transform: uppercase;
	font-weight:bolder;
	font-size: 12px;
}

.navbar li a {
	color: #43515A;
}

.navbar .dropdown-menu>li a {
	color: white;
}

.navbar li {
	border-bottom: 5px solid #FFFFFF;
}

.navbar li.active, .navbar li:hover {
	border-bottom: 5px solid #829F41;
}

.navbar li.active a {
	color: #829F41;
}

.navbar li.active a.subitem {
	color: white;
}

.navbar li.active a.subitem:hover {
	color: #829F41;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;    
}

.dropdown-menu {
	background-color: #829F41;
}

.dropdown-menu>li {
	border-bottom: 0!important;
	color: white;
}

.dropdown-menu>li.active>a {
	color: #829F41;
}

.dropdown-menu>li>a:hover {
	background-color: white;
	color: #829F41;
}

.float-center-wrapper {
	width: 100%; 
    position: relative;
}

.more-news-button {
	margin-top: 30px;
}

#header-carousel img {
	max-width:100% !important;
    display: table;
    height:auto;
    display:block;    
}

#header-carousel img:hover {
	cursor:w-resize
}

#header-carousel {
	margin:0 auto;
	text-align: center;
}

.slick-prev:before, .slick-next:before {
	color: #43515A!important;
}


.float-center-wrapper .slick-prev:hover, .float-center-wrapper .slick-next:hover {
	background-color:transparent;
}

#index {
	margin-top: 30px;
}

.home #index h1 {
	text-transform: uppercase;
	font-family: alliander-font-light;
}

.last-word {
	padding-top:0px;
	text-transform: uppercase;
	color: #829F41!important;
	font-family: alliander-font;
	margin-top: -15px;
}

.home #index p {
	font-size: 14px;
	font-family: alliander-font-light;
}

.intro-story p {
	height: 5.5em;
}

.introductions {
	margin-bottom: 100px;
	word-break: break-word;
}

.read-more-button {
	font-family: alliander-font-light;
	background-color: #829F41;
	border: 0;
	border-radius: 12px;
	color: white;
	padding: 10px 15px;
	margin:1em 0 2em 0;
}

.read-more-button:hover {
	background-color: #43515A;
}

.black-hr {
	border-top: 1px solid #333;
}

#partners-carousel {
	margin-bottom: 0;
}

h1.center-header {
	font-family: alliander-font-light;
	text-align: center;
	margin: 50px 0;
}

.float-center-wrapper {
	text-align:center;
}

.float-right {
	float:right;
}

.float-center-wrapper > button {
	font-family: alliander-font;
	background-color: #43515A;
	border: 0;
	border-radius: 12px;
	color: white;
	padding: 12px 15px;
	margin-bottom: 50px;
	width:210px;
}

.page-sidebar .float-center-wrapper > button {
	float: right;
}

.float-center-wrapper button:hover {
	background-color: #829F41;
}

.post-summary {
	min-height: 395px;
	border: 1px solid #BDC3C6;
	border-radius: 20px;
	margin-bottom: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.post-summary img {
	width: 100%;
	height: 325px!important;
	border-radius: 20px 20px 0 0;
}

.post-summary article h2 a {
	font-family: alliander-font-bold;
	color: #829F41;
	font-size: 16px;
}

article.home-article-title {
	height: 100px;
	width: inherit;
	padding: 0px 20px;
}

.post-summary article h2 {
	height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

footer {
	background-color: #43515A;
	border-top: 15px solid #829F41;
	font-family: alliander-font-light;
}

ul.footer-list{
	text-transform: uppercase;
	margin: 50px 0 0 -40px;
	color: white;
	list-style: none;
	line-height:30px;
}

.newsletter-subscription {
	margin: 50px 0 0 0px;
	color: white;
	text-transform: uppercase;
}

.newsletter-subscription input[type="email"] {
	width: 100%;
	background-color: #3C474C;
	border: 1px solid #BDC3C6;
	border-radius: 15px;
	height:35px;
	padding-left:10px;
}

.newsletter-subscription input[type="submit"] {
	background-color: #829F41;
	border:0;
	border-radius: 15px;
	padding: 3px 35px;
	text-transform: uppercase;
	font-size: 20px;
}

.newsletter-subscription input[type="submit"]:hover {
	background-color: #829F41;
}

.copyright {
	padding-top: 5px;
	color: white;
	text-align: right;
}

/*pages specific*/
.featured-image {
	width:100%;
	display: block;
	margin:0 auto;
}

.page #main article {
	padding: 30px 0;
	font-family: alliander-font;
}

.page #main article h1 {
	font-family: alliander-font-light;
	text-transform: uppercase;
}

.page #main article h1 .green-word {
	color: #829F41;
	font-family: alliander-font;
}

.page #main article .article-wrap h1 {
	color: #829F41;
	font-family: alliander-font;
	text-transform: none;
}

.page #main article .article-wrap h2 {
	font-family: alliander-font-bold;
	font-size: 16px;
	font-weight:bolder;
	color: #6D787F;
	padding:20px 0;
	border-bottom: 1px solid #BDC3C6;
} 

.page #main article .article-wrap a {
	color: #829F41;
}

.page #main article .article-wrap img {
	max-width: 100%;
	margin: 20px 5px;
}

.page #main article .article-wrap figcaption {
	height:50px;
	background-color: rgba(1,1,1, 0.7);
	padding: 20px;
	color: white;
}

.page-sidebar {
	display: inline-block;
	min-height: 1450px;
}

.page-sidebar h1, .page-sidebar h2 {
	font-size: 18px;
}

.join-box {
	background: -webkit-radial-gradient(#B1C782, #829F41); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#B1C782, #829F41); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#B1C782, #829F41); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#B1C782, #829F41); /* Standard syntax */
	background-color: #829F41;
	width: 22em;
	height: 22em;
	border-radius: 30px;
	font-family: alliander-font;
	text-transform: uppercase;
	margin-top: 40px;
}

.join-box h2 {
	color: white;
	padding: 25% 10% 0 10%;
}

.join-button {
	margin: ;
	color: white;
	background-color: #3C474C;
	border: 1px solid #BDC3C6;
	border-radius: 15px;
	height: 35px;
	padding: 5px 25px;
	margin: 10% 10% 0 10%;
}

.join-button:hover {
	background-color: #BDC3C6;
}

.sidebar-articles {
	margin-top: 40px auto;
}

.sidebar-articles h1, .featured-articles h1 {
	text-transform: uppercase;
	font-family: alliander-font-light;
}

.sidebar-articles .item, .featured-articles .item {
	background-color: white;
	max-width: 22em;
	border: 1px solid #BDC3C6;
	border-radius: 20px;
	margin-bottom: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 20px auto;
}

.sidebar-articles .item img {
	width: 100%;
	height: 14em;
	margin: 0 auto;
}

.featured-articles .item img {
	width: 100%;
	height: 66.666666%;
	margin: 0 auto;
}

.sidebar-articles .item .sidebar-article-title, .featured-articles .item .sidebar-article-title {
	padding: 0!important;
	height: 70px;
	margin:5px 15px;	
}

.item:hover{
	background-color: :#FFFBCC;
}

.sidebar-articles .item .sidebar-article-title h2,
 .sidebar-articles .item .sidebar-article-title a,
  .featured-articles .item .sidebar-article-title h2,
   .featured-articles .item .sidebar-article-title a { 
	margin:0;
	padding:10px 0;
	height:60px;
	font-family: alliander-font-bold; 
	color: #829F41!important;	
	font-size: 1.2em;
}

.date {
	margin: 10px 0 20px 0;
}

#homebanner_mainbox{
	color: white;
	width:100%;
	height:100%;
	display:block;
}

.slider1{ 
	float:left;
	width:100%;	
	height: 47.5em;
	display: inline-block;
	background:url(/images/site/banner_med.jpg) no-repeat center top; background-size:auto;
	background-size: cover;
	margin-top: -2px;
}

.slider2{ 
	float:left;
	width:100%;	
	height: 47.5em;
	display: inline-block;
	background:url(/images/site/home_open_source.jpg) no-repeat center top; background-size:auto;
	background-size: cover;
}

.banner_inner { 
	width:990px;
	margin:auto;
	position:relative;
}
.banner_text{ 
	width:527px; 
	position:relative;
	top:76px;
	float:right;
	font-family: 'alliander-font-light', sans-serif;
	text-align:center; 
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 1px 0px #a4a4a4;
}
.thintext {
	font: 300 36px/36px  'alliander-font-light', sans-serif;
}
.greenbox{ 
	margin:9px 0 0 0; background:#829f41; 
	border-radius:30px;
	font:800 48px/55px  'alliander-font-bold', sans-serif;
	padding:0 10px ; 
	display:block;
}
.bigtext{
	font:800 36px/46px  'alliander-font-extrabold', sans-serif;
	display:block;
}
.intro-story a {
	text-decoration: none;
}


.slider1_btn{	
	position: relative; 
	top:344px; 
	right:-615px; 
	float:left; 
	text-align: center; 
	width:218px; 
	height:60px; 
	display:block;
	border-radius:30px; 
	border:2px #fff solid;
}
.slider1_btn a{
	color: white;
}

.slider1_btn a {
	font:600 18px/60px 'Open Sans', sans-serif;
	display:block;
	text-transform:uppercase;
}

.navbar-toggle {
	width: 90%;
	float: none;
	margin: 0 5%;
}

.navbar-toggle .icon-bar {
	
	margin: 0 auto;
}

.tag {
	color: #829F41;
}

iframe {
	width:100%;
}

.social-media-links {
	padding-bottom:10px;
}

.pm-logo-header {
	padding-top:15px;
}

button.slick-prev {
	left:50px;
}

button.slick-next {
	right:70px;
}

#partners-carousel button.slick-next {
	right:-35px;
}

#partners-carousel button.slick-prev {
	left:-45px;
}

.slick-prev:before, .slick-next:before, .slick-prev:hover, .slick-next:hover {
	font-size: 40px!important;
}

#twitter-widget-0 {
	width:100%;
}

iframe#twitter-widget-0 {
	visibility:hidden;
}

.spinner {
	width: 50px;
	height: 50px;
}

footer a {
	color: white;
}

footer a:hover{
	color: white;
}

.search-result-row {
	font-family: alliander-font-light; 
}

.footer-wrapper .footer-image {
	margin-left: -5px;
	margin-top: 40px;
}

.subpage-title {
	font-family: alliander-font-light;
	text-transform: uppercase;
    overflow: hidden;
}

.subpage-title .subpage-title-green {
	color: #829F41;
}

.powermatcher-top-image {
	display:none;
}

@media (max-width: 1000px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top,
	.row {
		margin-right: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width: 1024px)  { 
	.home #index .intro-story1 {
		padding: 0!important;
	}

	.home #index .intro-story1 button {
		position: relative;
		left:0;
	}

	.home #index .intro-story2 {
		padding: 0!important;
	}

	.home #index .intro-story2 button {
		position: relative;
		left:0;
	}

	.home #index .intro-story3 {
		padding: 0!important;
	}

	.home #index .intro-story3 button {
		position: relative;
		left:0;
	}
}

@media only screen and (max-width: 970px)  { 
	.join-box {
		margin:0 auto;
	}

	#header-carousel {
		display: none;
	}

	.powermatcher-top-image {
		margin: 0 5%;		
		display: inline-block;
	}

	.powermatcher-top-image img {

	}

	.powermatcher-right-image {
		display:none;
	}

	.intro-story {		
		text-align: center;
		word-break: break-word;
	}

	.intro-story img {
		margin: 0 auto;
	}

	.intro-story p, .intro-story button {
		display:none;
	}

	.banner_text {
		display: none;
	}

	.slick-prev  {
		display: none!important;
	}

	.slick-next  {
		display: none!important;
	}

	.slider1_btn {
		display: none!important;
	}	
}
@media only screen and (max-width: 1300px)  { 
	.banner_text {
		display: none;
	}

	.slick-prev  {
		display: none!important;
	}

	.slick-next  {
		display: none!important;
	}

	.slider1_btn {
		display: none!important;
	}
}

