---
layout: page
---
{% for post in site.posts %}    
  {% if post.tags contains 'sustainia' %}
    <img src="{{ post.thumbnail }}"/>
    <article>
      {% if post.link %}    
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      {% endif %}
    </article>
  {% endif %}    
{% endfor %}