<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>
  <body class="page">
    <div class="container-fluid">
    {% include _browser-upgrade.html %}

    {% include _navigation.html %}

    <div class="row">
      <div class="col-md-12">
        {% if post.image.feature %}
          <img class="featured-image img-responsive" src=
            {% if page.image.feature contains 'http://' %}
              "{{ page.image.feature }}"
            {% elsif page.image.feature contains 'https://' %}
              "{{ page.image.feature }}"
            {% else %}
              "{{ page.image.feature }}"
            {% endif %}
          alt="{{ page.title }} feature image">      
        {% else %}
          <img class="featured-image img-responsive" src="/images/site/banner_inner.jpg" />
        {% endif %}
      </div>
    </div>
    <div id="main" class="row" role="main">
      <div class="col-md-8 col-md-offset-2">
        <div class="row no-margin-left-right">
        <div class="col-md-9">
          <article>
            <h1><span class="black-word">{{ page.title }}</span> <span class="green-word">{{ page.titleGreen }}</span></h1>
            <div class="date">
              {{ page.date | date: "%B %d, %Y" }} | {% for tag in page.tags %} <span class="tag">{{ tag }}</span>, {% endfor %} 
            </div>
            <p>
              {{ page.description }}
            </p>
            <hr/>
            <div class="article-wrap">
              {{ content }}
            </div>
            {% if site.disqus_shortname and page.comments %}
              <section id="disqus_thread"></section>
            {% endif %}
          </article>
        </div>
        <div class="col-md-3">
          <div class="page-sidebar">
            <div class="row">
              <div class="col-md-12">
                <div class="join-box">
                  <h2 class="join-text">Powermatcher is awesome</h2>
                  <button class="join-button">JOIN NOW!</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="sidebar-articles">
                <h1>Latest <span class="last-word">News</span></h1>   
                  {% for post in site.posts limit:3 %}  
                      <div class="item">
                        <img class="img-responsive" src="{{ post.thumbnail }}"/>
                        <article class="sidebar-article-title">
                          {% if post.link %}    
                            <h2 class="link-post"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
                          {% else %}
                            <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>                
                          {% endif %}
                        </article>
                      </div>            
                  {% endfor %}
                </div>
              </div>
              <a href="/news/">
                <div class="float-center-wrapper">                
                    <button class="center-header float-left">More news</button>
                </div>
              </a>
              </div>  
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
      <footer>
        {% include _footer.html %}
      </footer>
    </div>
    {% include _scripts.html %}	        
  </body>
</html>